extends layout


block content

    h1= title

    p Welcome to #{title}

    p Math.atan2() is applied to #{num1} is #{ata}

    p Math.atanh() is applied to #{num2} is #{atnh}

    p Math.cbrt () is applied to #{num3} is #{cbt}